[Unit]
Description=autotiling
After=sway-session.target

[Service]
Type=simple
StandardOutput=append:/tmp/autotiling.log
StandardError=append:/tmp/autotiling.log
Restart=always
ExecStart=/usr/bin/autotiling --limit 2

[Install]
WantedBy=default.target

