[Unit]
Description=kdeconnect-indicator docklet
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
StandardOutput=journal
StandardError=journal
Restart=on-failure
ExecStart=/usr/bin/kdeconnect-indicator

[Install]
WantedBy=graphical-session.target

