[Unit]
Description=kdeconnect-indicator docklet
After=systemd-user-sessions.service
After=network.target
After=network-online.target

[Service]
Type=oneshot
; StandardOutput=append:/tmp/wob.log
; StandardError=append:/tmp/wob.log
; Restart=always
ExecStart=/usr/bin/kdeconnect-indicator

[Install]
WantedBy=default.target

; [Unit]
; Description=Apache Spark Master and Slave Servers
;
; [Service]
; User=spark
; Type=forking
; ExecStart=/opt/spark-1.6.1-bin-hadoop2.6/sbin/start-all.sh
; ExecStop=/opt/spark-1.6.1-bin-hadoop2.6/sbin/stop-all.sh
; TimeoutSec=30
; Restart=on-failure
; RestartSec=30
; StartLimitInterval=350
; StartLimitBurst=10
;
; [Install]
; WantedBy=multi-user.targetV
