[Unit]
Description=lisgd touchscreen gestures
After=systemd-user-sessions.service
After=sway-session.target

[Service]
Type=simple
StandardOutput=append:/tmp/lisgd.log
StandardError=append:/tmp/lisgd.log
Restart=always
ExecStart=/bin/sh -c /home/tcrha/.config/systemd/user/lisgd-start.sh

[Install]
WantedBy=default.target

