[Unit]
Description=Lisgd (libinput synthetic gesture daemon) lets you bind gestures based on libinput touch events to run specific commands to execute
After=graphical-session.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5s
ExecStart=/bin/sh -c /home/tcrha/.config/systemd/user/lisgd-start.sh

[Install]
WantedBy=default.target
