# Start graphical authentication agent for PolicyKit.
#
# Certain applications may require this to request elevated privileges:
#   GParted, virt-manager, anything that uses pkexec
#
# Requires: lxqt-policykit
[Unit]
Description=LXQt PolicyKit Agent
After=systemd-user-sessions.service

[Service]
Type=simple
StandardOutput=append:/tmp/lxqt-policykit-agent.log
StandardError=append:/tmp/lxqt-policykit-agent.log
Restart=always
ExecStart=/usr/bin/lxqt-policykit-agent

[Install]
WantedBy=default.target
