[Unit]
Description=nm-applet docklet
After=systemd-user-sessions.service
After=network.target
After=network-online.target

[Service]
Type=oneshot
; Type=simple
; StandardOutput=append:/tmp/nm-applet.log
; StandardError=append:/tmp/nm-applet.log
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=default.target
