[Unit]
Description=nm-applet docklet
After=network.target
After=network-online.target
After=sway-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=default.target
