[Unit]
Description=rot8 rotation using accelarometer
After=graphical-session.target

[Service]
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5s
; ExecStart=/bin/sh -c /usr/lib/systemd/user/rot8-start.sh
ExecStart=/usr/bin/rot8 --hooks 'systemctl --user restart lisgd.service'

[Install]
WantedBy=default.target

