[Unit]
Description=rot8 rotation using accelarometer
After=sway-session.target

[Service]
Type=simple
StandardOutput=append:/tmp/rot8.log
StandardError=append:/tmp/rot8.log
Restart=always
ExecStart=/bin/sh -c /home/tcrha/.config/systemd/user/rot8-start.sh

[Install]
WantedBy=default.target

