[Unit]
Description=sov window overlay bar
After=systemd-user-sessions.service

[Service]
Type=simple
StandardOutput=append:/tmp/sov.log
StandardError=append:/tmp/sov.log
Restart=always
ExecStart=sh -c 'rm -f /tmp/sovpipe && mkfifo /tmp/sovpipe && tail -f /tmp/sovpipe | sov -vv > /tmp/sov.log'

[Install]
WantedBy=default.target

; [Unit]
; Description=Apache Spark Master and Slave Servers
; After=network.target
; After=network-online.target
;
; [Service]
; User=spark
; Type=forking
; ExecStart=/opt/spark-1.6.1-bin-hadoop2.6/sbin/start-all.sh
; ExecStop=/opt/spark-1.6.1-bin-hadoop2.6/sbin/stop-all.sh
; TimeoutSec=30
; Restart=on-failure
; RestartSec=30
; StartLimitInterval=350
; StartLimitBurst=10
;
; [Install]
; WantedBy=multi-user.targetV
