[Unit]
Description=swaylock effects service
After=graphical-session.target

[Service]
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal
ExecStart=/home/tcrha/.config/systemd/user/swaylock-start.sh

[Install]
WantedBy=default.target
