[Unit]
Description=sway-audio-idle-inhibit
PartOf=graphical-session.target
After=graphical-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
Restart=always
StandardError=journal
StandardOutput=journal
ExecStart=/usr/bin/sway-audio-idle-inhibit

[Install]
WantedBy=graphical-session.target

