[Unit]
Description=swaylock effects service
After=sway-session.target

[Service]
Type=simple
ExecStart=/home/tcrha/.config/systemd/user/swaylock-start.sh

[Install]
WantedBy=default.target
