[Unit]
Description=Watch clipboard and store in clipman
PartOf=graphical-session.target
After=graphical-session.target
After=sway-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
restart=on-failure
StandardOutput=journal
StandardError=journal
; StandardOutput=append:/tmp/wl-paste.log
; StandardError=append:/tmp/wl-paste.log
ExecStart=/usr/bin/wl-paste -t text --watch clipman store

[Install]
WantedBy=graphical-session.target
