[Unit]
Description=sway-audio-idle-inhibit
After=sway-session.target

[Service]
Type=simple
StandardOutput=append:/tmp/sway-audio-idle-inhibit.log
StandardError=append:/tmp/sway-audio-idle-inhibit.log
ExecStart=/usr/bin/wl-paste -t text --watch clipman store

[Install]
WantedBy=default.target
