[Unit]
Description=wlsunset dim screen at sunset
After=systemd-user-sessions.service
After=network.target
After=network-online.target

[Service]
Type=simple
StandardOutput=append:/tmp/wlsunset.log
StandardError=append:/tmp/wlsunset.log
Restart=always
ExecStart=/home/tcrha/.config/waybar/wlsunset-start.sh

[Install]
WantedBy=default.target
