[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target
Description=wlsunset dim screen at sunset
After=graphical-session.target

[Service]
Type=simple
; StandardOutput=journal
; StandardError=journal
; Needed for the waybar switch as i read this log and do want to
; work out how to get it working with journalctl
StandardOutput=append:/tmp/wlsunset.log
StandardError=append:/tmp/wlsunset.log
Restart=always
RestartSec=5s
ExecStart=/usr/bin/wlsunset -l -33.7 -L 150.3

[Install]
WantedBy=default.target
