[Unit]
Description=wob volume portal
After=systemd-user-sessions.service

[Service]
Type=simple
StandardOutput=append:/tmp/wob.log
StandardError=append:/tmp/wob.log
Restart=always
ExecStart=/bin/sh -c 'rm -f /tmp/wob.sock && mkfifo /tmp/wob.sock && tail -f /tmp/wob.sock | wob -vv'

[Install]
WantedBy=default.target

; [Unit]
; Description=Apache Spark Master and Slave Servers
; After=network.target
; After=network-online.target
;
; [Service]
; User=spark
; Type=forking
; ExecStart=/opt/spark-1.6.1-bin-hadoop2.6/sbin/start-all.sh
; ExecStop=/opt/spark-1.6.1-bin-hadoop2.6/sbin/stop-all.sh
; TimeoutSec=30
; Restart=on-failure
; RestartSec=30
; StartLimitInterval=350
; StartLimitBurst=10
;
; [Install]
; WantedBy=multi-user.targetV
