* {
	font-size: 10px;
	font-family: monospace;
}

window#waybar {
	background: #292b2e;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}

/* #idle_inhibitor */
/* #clock.1, */
/* #clock.2, */
/* #clock.3, */
/* #pulseaudio, */
/* #memory, */
/* #cpu, */
/* #battery, */
/* #disk, */
/* #tray  */

#workspaces{
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery {
	color: #859900;
}
#disk {
	color: #b58900;
}
#backlight {
	color: #b57c00
}
#temperature {
	color: #8B4513
}
#idle_inhibitor {
	color: #E74C3C;
}

	/*(a darker shade of blue) */
    /* #006d8a (a darker shade of teal) */
    /* #5a5197 (a darker shade of purple) */
    /* #728f3e (a darker shade of green) */
    /* #b57c00 (a darker shade of gold/yellow); */
/*     #FF5733 (a vibrant red) */
/*     #E74C3C (a slightly darker red) */
/*     #C0392B (a deep, dark red) */
/**/
/* Brown Shades: */
/**/
/*     #8B4513 (brown resembling wood or earthy tones) */
/*     #A0522D (a lighter shade of brown) */
/*     #964B00 (a darker, more intense brown) */
/**/
#clock,
#backlight,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#task
#memory,
#cpu,
#battery,
#disk {
	padding: 0 2px;
}

