[Unit]
Description=swww A Solution to your Wayland Wallpaper Woes
After=sway-session.target
After=systemd-user-sessions.service

[Service]
Type=simple
Restart=on-failure
StandardError=journal
StandardOutput=journal
ExecStart=/usr/bin/swww-daemon

[Install]
WantedBy=default.target

