[Unit]
Description=wob volume portal
After=systemd-user-sessions.service

[Service]
Type=simple
StandardOutput=append:/tmp/wob.log
StandardError=append:/tmp/wob.log
Restart=always
ExecStart=/bin/sh -c 'rm -f /tmp/wob.sock && mkfifo /tmp/wob.sock && tail -f /tmp/wob.sock | wob -vv'

[Install]
WantedBy=default.target

